<%- include('partials/head'); %>
  <div style="width: 100%; margin: 0 0 64px">
    <%- include('partials/header'); %>
      <div style="width: 515px; margin: auto">
        <h1 style="
        font-family: sans-serif, Arial;
        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;
        margin: 48px 0 10px;
        color: #111928;
        width: 100%;
      ">
          <%= titleEmail %>
        </h1>
        <div style="
        margin: 0;
        padding: 0px 48px 36px;
        border-radius: 4px;
        background-color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: center;
        color: #374151;
      ">
          <div style="padding-bottom: 10px">
            <div>
              <p style="margin-bottom: 0px">
                We have received a request to reset the password associated with your email address.
              </p>
              <p style="margin-top: 0px">
                To reset it, click the button below and follow the instructions.
              </p>
            </div>

            <p>
              Otherwise, ignore this email.
            </p>
            <div style="
            margin: 12px 0 30px;
            border-radius: 4px;
            background-color: rgba(249, 250, 251, 1);
            font-size: 18px;
            font-weight: 700;
            line-height: 26px;
            letter-spacing: 0px;
            text-align: left;
            color: #0053A1;
            word-wrap: break-word;
          ">
              <strong style="color: #0053A1;">
                <%= url %>
              </strong>
            </div>
            <%- include('partials/button', {cta_url: url, cta_text:'Reset'}); %>
          </div>
        </div>
      </div>
  </div>
  <%- include('partials/footer.ejs'); %>